# SSH Keys
id_key
id_key.pub

# Ansible Filter Plugin

**/__pycache__

# Unifi Logs & Private Key

unifi/geckodriver.log
# **/privkey.pem

# CTFs folder

ctfs/dicectf-2023-challenges

# CA 

**/*.pem
**/index.txt.old
**/index.txt.attr
**/index.txt.attr.old
**/serial.old
!**/privkey.pem