$TTL 2
@        IN      SOA   ns.{{ domain_name }}. admin.{{ domain_name }}. (
                 2008111001
                 8H
                 2H
                 4W
                 1D)

@        IN      NS    ns.{{ domain_name }}.

@        IN      A     172.{{ general.random_byte | int - 5 }}.0.1
www      IN      A     172.{{ general.random_byte | int - 5 }}.0.1
ns       IN      A     {{ ((machines | selectattr('name', '==', 'dns_server'))[0]['networks'] | selectattr('name', '==', 'dmz_net') | map(attribute='ipv4_address')) | first }}
*        IN      A     172.{{ general.random_byte | int - 5 }}.0.1