$TTL 2
@        IN      SOA   ns.{{ dns_info.domain }}. admin.{{ dns_info.domain }}. (
                 2008111001
                 8H
                 2H
                 4W
                 1D)

@        IN      NS    ns.{{ dns_info.domain }}.

@        IN      A     {{ domain_machine }}
www      IN      A     {{ domain_machine }}
ns       IN      A     {{ ns_machine }}
*        IN      A     {{ domain_machine }}