default-lease-time 600;
max-lease-time 7200;
authoritative;
option rfc3442-classless-static-routes code 121 = array of integer 8;

subnet 172.{{ networks.internal_net.random_byte }}.0.0 netmask 255.255.255.0 {
  range 172.{{ networks.internal_net.random_byte }}.0.64 172.{{ networks.internal_net.random_byte }}.0.127;
  option routers {{ ((machines | selectattr('name', '==', 'internal_router'))[0]['networks'] | selectattr('name', '==', 'internal_net') | map(attribute='ipv4_address')) | first }};
  option domain-name-servers {{ ((machines | selectattr('name', '==', 'dns_server'))[0]['networks'] | selectattr('name', '==', 'dmz_net') | map(attribute='ipv4_address')) | first }};
}